*/logs
*.DS_Store
*.class
*.iml
*.swp
*~
.classpath
.coverage
.externalToolBuilders
.idea
.project
.settings
*.zip
*.gz
*.tar
*.pdf
*.log
MANIFEST.MF
dist
maven-eclipse.xml
products
repository
target
workspace
xtend-gen
